@import url('https://fonts.googleapis.com/css2?family=Poiret+One');

/* HACK: Usar esto para prevenir temporalmente la copia. */
.copyNot {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

* {
  font-family: 'Poiret One', cursive;
  font-weight: 600;
}

.afin {
  font-weight: bold;
}

.epigrafe {
  font-style: italic;
}
/* Barra de navegación -- Inicio*/
.navbar {
  overflow: hidden;
  background-color: black;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: skyblue;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
/* Barra de navegación -- Fin */
.gridContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 2%;
 padding: 2%;
 }
