/* HACK: Usar esto para prevener temporalmente la copia. */
.copyNot {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.afin {
  font-weight: bold;
}

.epigrafe {
  font-style: italic;
}

.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: skyblue;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.col {
  width: 48%;
  float: left;
  padding: 1%;
}

a img.cent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

a img.cent2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h1nav a{
  float: left;
  font-family: inherit;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  padding-right: 10px;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}



.noticias div, .news {
  width: 45%;
  margin: 1%;
  height: auto;
  float: left;
  margin-left: 5px;
}

.marquito {
  width: 100%;
  padding: 0.5%;
  height: 50vh;
}

.marquito:hover {
  border-radius: 30%;
}

.videosCentrados {
  margin-left: 25%;
}

#aca {
  line-height: 0%;
}

.noticias{
  overflow: hidden;
}
.noticias .fotoParticular{
  width: 30%;
  margin: 0 0 0 10%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
.noticias .fotoParticular2{
  width: 30%;
  margin: 0 0 0 10%;
  float: left;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 2%;
}
.pParticular{
  width: 50%;
  float: left;
  margin-left: 10%;
}
.parrafos{
  width: 48%;
  float: left;
  margin-left: 1%;
}
